<div class="overlay" *ngIf="isVisible">
    <div class="settings-content">
      <h2>Settings</h2>
      <form [formGroup]="settingsForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="rows">Rows:</label>
          <input
            type="number"
            id="rows"
            formControlName="rows"
            min="5"
            max="20"
            required
          />
          <div *ngIf="settingsForm.get('rows')?.invalid && settingsForm.get('rows')?.touched" class="error">
            Enter a value between {{gameSettings.minRows}} and {{gameSettings.maxRows}}
          </div>
        </div>
        <div class="form-group">
          <label for="cols">Cols:</label>
          <input
            type="number"
            id="cols"
            formControlName="cols"
            min="5"
            max="20"
            required
          />
          <div *ngIf="settingsForm.get('cols')?.invalid && settingsForm.get('cols')?.touched" class="error">
            Enter a value between {{gameSettings.minCols}} and {{gameSettings.maxCols}}
          </div>
        </div>
        <div class="form-group">
          <label for="mines">Mines:</label>
          <input
            type="number"
            id="mines"
            formControlName="mines"
            min="1"
            [max]="maxMines"
            required
          />
          <div *ngIf="settingsForm.get('mines')?.invalid && settingsForm.get('mines')?.touched" class="error">
            Enter a value between {{gameSettings.minMines}} and {{ maxMines }}.
          </div>
        </div>
        <div class="buttons">
          <button type="submit" [disabled]="settingsForm.invalid">Save</button>
          <button type="button" (click)="onClose()">Close</button>
        </div>
      </form>
    </div>
  </div>