<app-control-panel (reset)="resetGame()"  [isGameOver]="isGameOver" [remainingMines]="remainingMines"></app-control-panel>

<div class="board" [style.gridTemplateColumns]="'repeat(' + settings.cols + ', 50px)'">
    <ng-container *ngFor="let row of grid">
        <ng-container *ngFor="let cell of row">
            <app-cell
                [cell]="cell"
                (onReveal)="handleReveal($event)"
                (onFlag)="handleFlag($event)">
            </app-cell>
        </ng-container>
    </ng-container>
</div>

<app-modal #modal></app-modal> 